{{#if messageSentSuccess}}
  {{#bootstrap-alert type="success"}}
      Message was sent successfully, thank you for your feedback.
  {{/bootstrap-alert}}
{{/if}}
{{#if messageSentFailure}}
  {{#bootstrap-alert type="danger"}}
      Something went wrong, we were unable to send the message. You may contact me directly at deewendra.shrestha@gmail.com
  {{/bootstrap-alert}}
{{/if}}
<h1 class="grey-dotted-border-bottom">SPEAK YOUR MIND</h1>
  <form>
      <div class="form-group {{if (do-and showErrors errors.name.length) 'has-error'}}">
          <label>Your name</label>
          {{one-way-input placeholder="" class="form-control" value=formInputsChangeSet.name update=(action (mut formInputsChangeSet.name))}}
          <span class="text-danger">{{#if showErrors}}{{formInputsChangeSet.error.name.validation}}{{/if}}</span>
      </div>
      <div class="form-group {{if (do-and showErrors errors.email.length) 'has-error'}}">
          <label>Your email address</label>
          {{one-way-input placeholder="" class="form-control" value=formInputsChangeSet.email update=(action (mut formInputsChangeSet.email))}}
          <span class="text-danger">{{#if showErrors}}{{formInputsChangeSet.error.email.validation}}{{/if}}</span>
      </div>
      <div class="form-group {{if (do-and showErrors errors.message.length) 'has-error'}}">
          <label>Your message</label>
          {{one-way-textarea placeholder="" class="form-control" value=formInputsChangeSet.message rows=8  update=(action (mut formInputsChangeSet.message))}}
          <span class="text-danger">{{#if showErrors}}{{formInputsChangeSet.error.message.validation}}{{/if}}</span>
      </div>
      <div class="form-group {{if (do-and showErrors errors.captcha.length) 'has-error'}}">
          <label>Enter code shown</label>
          <div class="clearfix">
              <div class="pull-left">{{one-way-input placeholder="" class="form-control" value=formInputsChangeSet.captcha  update=(action (mut formInputsChangeSet.email)) update=(action (mut formInputsChangeSet.captcha))}}</div>
              <div class="pull-left"><img src="{{captchaImageLink}}"/></div>
          </div>
          <span class="text-danger">{{#if showErrors}}{{formInputsChangeSet.error.captcha.validation}}{{/if}}</span>
      </div>
      <button type="submit" class="btn btn-primary pull-right" {{action 'submitFeedback'}}>Send</button>
  </form>
