<div class="m-t-8">
  {{#each model as |post|}}
      <div>
        <div class="pull-left date-panel">
          <p>{{moment-format post.createdOn "MMM DD"}}<span>{{moment-format post.createdOn "YYYY"}}</span></p>
        </div>
        <h3>{{post.title}}</h3>
      </div>
      <div class="content">
          <p><abstract>{{{post.abstract}}}</abstract></p><div class="readmore"><a href="#" {{action "openPost" post}}>[Read more]</a></div>
      </div>
  {{/each}}
</div>